html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: 16px;
	--g-font: 'PT Sans', sans-serif;
}

body {
	font-family: var(--g-font);
	line-height: 1.5;
	color: #555;
	background: #9e9ea0;
	margin: 0;
}
header {
	text-align: center;
	border-bottom: 4px double #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

header a{
	letter-spacing: 0.5rem;
	text-decoration: none;	
	text-transform: uppercase;
}

 h2, h3, h4 {
	line-height: 1.05;
}

h1 {
	font-family: 'Emblema One' ,sans-serif;
	text-transform:capitalize;
	letter-spacing: 2px;
	font-size: 32px;
	color: #1a948c;
	margin: 1%;
	line-height: 1.5;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #1fa79e;
	margin: 0;
	font-weight: 600;
}
h3 {
	font-size: 18px;
	color: #000;
	margin: 15px 0 0;
	font-weight: 100;
}

h4{
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 1px;
}

p {
	margin: 5px 0;
}

ul {
	margin: 0;
	padding: 0 0 0 25px;
}

/* links */
a:link{
	color: #1eac94;
}

a:visited{
	color: #48cfb9;
}

a:hover{
	color: #995ce2;
}


.wrapper {
	background: #fff;
	margin: auto;
	max-width: 900px;
	padding: 30px;
	border: 4px double #ccc;
}
.date {
	font: 0.7rem 'Unica One', sans-serif;
	color: #999;
	margin-bottom: 9px;
	text-transform: capitalize;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	gap: 30px;
}

.titulo-edu h3{
	color: #bcbcbc;
	font-size: 0.9rem;
}

@media (min-width: 700px) {
	body {
		margin: 20px;
	}
	h1 {
		font-size: 42px;
	}
	main {
		grid-template-columns: 2fr 1fr;
	}
	#statement {
		grid-column: span 2;
	}
}

@media (prefers-color-scheme: dark){
	body {
		color: #666;
		background: #111;
	}
	header{
		border-bottom: 4px double #66bdae;
	}
	h3 {
		color: #f2f2f2;
	}
	h1{
		color: #66bdae;
	}
	.wrapper {
		background: #222;
		border: 4px double #66bdae;
	}
}